{# templates/User/nouvellePartie.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <form method="post" action="{{ path('creation_partie') }}">
        <div>
            Choisissez l'adversaire :
            <select name="adversaire" title="Joueur adverse">
                <option value=""> Choisir</option>
                {% for joueur in joueurs %}
                    <option value="{{ joueur.id }}">{{ joueur.getUsername() }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="Créer la partie">
        </div>
    </form>

{% endblock %}