{# templates/User/profil.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon profil</h1>
    <a href="{{ path('partie_nouvelle') }}">Commencerune nouvelle partie</a>
{% endblock %}